body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dcdbd4fc;
}

.header {
    position: relative;
    height: 100px;
    overflow: hidden;
    color: white;
    text-align: left;
    padding: 20px;
}

.header img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.header img::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.header-content {
    position: relative;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

.header-content h1 {
    font-size: 2em;
    margin: 0;
}

.header-volkan {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    text-align: right;
}

.header-volkan a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    border-radius: 5px;
}

.header-volkan a:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #141301;
    transform: scale(1.1);
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-section {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact-section h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    flex: 1 1 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-item h3 {
    font-size: 1.5em;
    color: #007bff;
    margin-bottom: 10px;
}

.contact-item p {
    font-size: 1.1em;
    color: #555;
}

.contact-item a {
    color: #007bff;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

.contact-form {
    margin-top: 30px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.contact-form button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
